@font-face{
	font-family: icons;
	src: url("/fonts/font.woff") format("woff");
}
body{
	font-family:'Arial','MS Sans Serif', 'Segoe UI Symbol', sans-serif;
}
body.discon{
	background-color:#f4f4f4;
}

div.logbox{
	margin-top:0.4em;
}
/* linksview */
.links{
	display:inline-block;
}
.links ul{
	display:inline-block;
	margin:0;
	padding:0;
}
.links ul:not(:first-child){
	border-left:1px solid black;
	padding-left:5px;
}
.links ul li{
	display:inline-block;
	margin-right:0.5ex;
}
form.infobar{
	display:inline-block;
}

.logbox{
	margin:0;
}
.logbox p{
	margin:0;
}
.logbox p.syslog .name{
	color:#0000ff !important;
}
.logbox p.syslog .nameseparator{
	color:#0000ff !important;
}
.logbox p .nameseparator{
	unicode-bidi: -webkit-isolate;
}
.logbox span.main span.info{
	font-size:smaller;
	color:#cccccc;
	margin-left:0.8ex;
}
.logbox span.main span.channels{
	margin-left:1.5ex;
	color:#0084b4;
	cursor:pointer;
}
.logbox span.main bdi span.channels{
	margin-left:0;
}
.logbox bdi.comment span.channels{
	margin-left:0;
}
.logbox span.main span.channels:hover span.channel{
	text-decoration:underline;
}
.logbox span.main span.channels:hover span.channel:hover ~ span.channel{
	text-decoration:none;
}
.logbox .name{
	font-weight:bold;
}
.logbox span.respto:not([data-open="open"]){
	cursor:pointer;
}
.logbox blockquote.resp{
	margin:0 0 0 3em;
}
/*anim用*/
.verticalanime1{
	overflow-y:hidden;
}
.horizontalanime1{
	overflow-x:hidden;
}
.verticalanime2{
	transition: height 0.15s ease-out 0s;
}
.horizontalanime2{
	transition: width 0.15s ease-out 0s;
}
.fadeanime1{
}
.fadeanime2{
	transition: opacity 0.15s ease-out 0s;
}
/* toolbox */
span.toolbox{
	display:inline-block;
	white-space:nowrap;
}
/* icons? */
span.icon{
	cursor:default;
	font-family:icons;
	vertical-align:text-bottom;
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
span.icon.respin{
	/*返信であることを示すやつ*/
	color:#888888;
	margin-right:5px;
	transition:color 0.15s ease 0s;
	cursor:pointer;
}
span.icon.respin.opened{
	color:#bbbbbb;
}
span.icon.resptip{
	/*返信ボタン*/
	color:#00cc00;
	cursor:pointer;
}
span.icon.hidetoolbox{
	/*ツールボックスをかくすボタン*/
	color:#999999;
	cursor:pointer;
}

div.userinfo{
	position:fixed;
	right:10px;
	bottom:0px;
	opacity:0.45;
	text-align:right;
}
ul.users{
	margin:0;
}
ul.users li{
	list-style:none;
}
ul.users li span{
	background-color:#dddddd;
	font-weight:bold;
}
span.s{
	text-decoration:line-through;
}
span.small{
	font-size:smaller;
}
span.code{
	font-family:monospace;
	white-space: pre;
}

div.ui{
    white-space:nowrap;
}
div.ui form{
	display:inline-block;
}
div.ui form p{
	margin:0;
}
.logbox img{
	vertical-align:middle;
	max-width: 128px;
	max-height: 128px;
}

.responding_tip{
	color:rgb(255,127,39);
	cursor:pointer;
	font-weight:bold;
}
.responding_tip.checked{
	color:rgb(127,39,255);
}
.userinfo li.rom{
	display: none;
}

/* コンソール風 */
.console{
	font-family:monospace;
	background-color:rgba(48,48,48,0.7);
	color:#ffffff;
	height:30em;
	width:100%;
	position:fixed;
	left:0;
	bottom:-30em;
	padding:0 2em;
	overflow-y:scroll;
	
	-webkit-transition:bottom 0.3s ease;
	-moz-transition:bottom 0.3s ease;
	-o-transition:bottom 0.3s ease;
	transition:bottom 0.3s ease;
}
pre.consoleoutput{
	margin:0;
	padding:0;
}
.console.open{
	bottom:0 !important;
}
.console p{
	margin:0;
	white-space:pre;
}
.console input{
	width:90%;
	border:none;
	outline:none;
	color:#ffffff;
	background-color:transparent;
	font-family:monospace;
}
button#installButton{
	display: none;
}

.commentform input[name=channel]{
	width: 200px;
}