body{
	font-family:'Arial';
}
body.discon{
	background-color:#f4f4f4;
}

div.forms{
	white-space:nowrap;
}
div.logs{
	margin-top:0.4em;
}

dl#log{
	margin:0;
}
#log dt.syslog{
	color:#0000ff !important;
}
#log dd span.info{
	font-size:smaller;
	color:#cccccc;
}
#log dt{
	display:inline;
	font-weight:bold;
}
#log dt:after{
	content:'> ';
	font-weight:normal;
}
#log dt ~ dt:before{
	content:"\a";
	white-space:pre;
}
#log dd{
	display:inline;
	margin-left:0;
}
#log dd.respto:before{
	color:rgb(255,127,39);
	content: '⇓';
}
#log dd.respto:not([data-open="open"]){
	cursor:pointer;
}
#log dt ~ dt.resp:before{
	content:"\a　　　";
	white-space:pre;
}

div#info{
	position:fixed;
	right:20px;
	bottom:0px;
	opacity:0.45;
	text-align:right;
}
ul.users{
	margin:0;
}
ul.users li{
	list-style:none;
}
ul.users li span{
	background-color:#dddddd;
	font-weight:bold;
}
span.s{
	text-decoration:line-through;
}
span.small{
	font-size:smaller;
}

div.forms form{
	display:inline-block;
}
div.forms p{
	margin:0;
}
#log img{
	vertical-align:middle;
}

.responding_tip{
	color:rgb(255,127,39);
	cursor:pointer;
	font-weight:bold;
}
.responding_tip.checked{
	color:rgb(127,39,255);
}
li.rom{
	display: none;
}
